
<br />
<form asp-controller="Kullanici" asp-action="Ekle" class="form-group form" method="post">

    <br />
    <h1>Kullanıcı Ekle</h1>
    <br />
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        <input class="form-control" placeholder="Kullanıcı Adı giriniz" name="firstName" />
    </div>
    <div class="form-group">
        <label>Kullanıcı Soyadı</label>
        <input class="form-control" placeholder="Kullanıcı Soyadı giriniz" name="lastName" />
    </div>
    <div class="form-group">
        <label>Kullanıcı Email</label>
        <input class="form-control" placeholder="Kullanıcı Maili giriniz" name="Email" />
    </div>
    <div class="form-group">
        <label>Kullanıcı username</label>
        <input class="form-control" placeholder="Kullanıcı username giriniz" name="UserName" />
    </div>
    <div class="form-group">
        <label>Kullanıcı şifresi</label>
        <input type="password" class="form-control" placeholder="Kullanıcı şifre giriniz" name="password" />
    </div>
    <div class="form-group">
        
        <button type="submit" class="btn btn-success">Ekle</button>
    </div>
</form>